.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form.new-game {
  margin-top: 10px;
}

form.new-game input[type=number] {
  margin-left: 2px;
  margin-right: 10px;
}

.game {
  padding: 20px;
}

table {
  margin: 0 auto;
  white-space: nowrap;
}

.row {
  line-height: 1em;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
}

.cell.closed {
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cell.closed:active {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.cell.open {
  background: #f6f6f6;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}